<!DOCTYPE html>
<html>
  <body>
    <h1>Liste des utilisateurs</h1>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nom d'utilisateur</th>
          <th>Email</th>
          <th>Bio</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <td>{{ user._id }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.bio or 'Aucune bio' }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
